<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
	<a href="/pages/home">Home</a> | <a href="/pages/about">About</a> | <a href="/pages/contact">Contact</a><br/>
	
    <%= yield %>
  </body>
</html>